@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-title {
    @apply font-normal text-[34px];
  }
  .form-row {
    @apply flex gap-4 mb-4;
  }
  .form-col {
    @apply flex-1 flex flex-col;
  }
  .form-label {
    @apply text-gray font-light text-lg;
  }
  .form-input {
    @apply border border-gray-light rounded-sm px-2 py-2;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Hiragino Mincho Pro", "Yu Mincho", Inter, Avenir, Helvetica,
    Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
